<!doctype html>
<html> 
<head>


  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">

   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
  </head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102484268-3', 'auto');
  ga('send', 'pageview');

</script>
<body> 


  <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <script src="http://207.154.209.232:3000/socket.io/socket.io.js"></script>

<script type="text/javascript">
$(document).ready(function(){
var socket = io.connect("http://207.154.209.232:3000"); // 3000 portuna connect olduk 
$("#onlineyeri").append("<span class='label label-danger'>Ofline</span>")
   
"<% rows.forEach(function(rows) { %>"
console.log("<%=rows.hash_degeri%>")
socket.on("<%=rows.hash_degeri%>", function(data){ //Server.js deki socket.emitten mesaj'ı client'imize socket.on(mesajgitti) ile aldık.
console.log(data);
$("#yazismalar").empty();
$("#onlineyeri").empty();
$("#onlineyeri").append("<span class='label label-success'>Online</span>")
$("#yazismalar").append("<div class='gelenmesaj'>temperature : <strong>"+data[2]+"</strong><br>humidity : <strong>"+data[3]+"%</strong><br>Last Connection Time : <strong>"+data[1]+"</strong></div>"); // aldığımız datayı(mesaj ve nicki) append ile #yazismalar divinin içerisine li olarak ekledik.
});
"<% }); %>"
});
</script>

<br>

<nav class="navbar navbar-inverse visible-xl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RPI-1</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home Page</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-xs-2 sidenav hidden-xs">
      <h3>RPI-1</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Control Panel</a></li>
        <li><a href="/uygulamalarim">My App</a></li>
        <li><a href="#section3">Profile</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4><% rows.forEach(function(rows) { %>
          
           <%=rows.uyg_adi%> <div id="onlineyeri"> </div>
           
          


          <% }); %>

        </h4>

        <div id="yazismalar">Veri...<div id="veri"></div></div>
      </div>
      <div class="row">
        
        
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <center>
              <h3>GPIO</h3>
              <p class="bg-danger">Bu kısım şuan çalışmamaktadır.</p>
            <span class="label label-success">Open</span>
            <span class="label label-default">Close</span>
            <span class="label label-danger">Error</span>
          <br><br>
            
            <div style="font-size:20px;">
            GPIO2&nbsp;&nbsp;&nbsp;&nbsp;<span id="2" class="label label-default"> 01 </span>&nbsp;<span id="14" class="label label-default"> 02 </span>&nbsp;&nbsp;&nbsp;GPIO14 <br>
            GPIO3&nbsp;&nbsp;&nbsp;&nbsp;<span id="3" class="label label-default"> 03 </span>&nbsp;<span id="15" class="label label-default"> 04 </span>&nbsp;&nbsp;&nbsp;GPIO15 <br>
            GPIO4&nbsp;&nbsp;&nbsp;&nbsp;<span id="4" class="label label-default"> 05 </span>&nbsp;<span id="18" class="label label-default"> 06 </span>&nbsp;&nbsp;&nbsp;GPIO18 <br>
            GRND&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-default"> 09 </span>&nbsp;<span id="23" class="label label-default"> 10 </span>&nbsp;&nbsp;&nbsp;GPIO23 <br>
            GPIO17&nbsp;&nbsp;<span id="17" class="label label-default"> 11 </span>&nbsp;<span id="24" class="label label-default"> 12 </span>&nbsp;&nbsp;&nbsp;GPIO24 <br>
            GPIO22&nbsp;&nbsp;<span id="22" class="label label-default"> 13 </span>&nbsp;<span id="25" class="label label-default"> 14 </span>&nbsp;&nbsp;&nbsp;GPIO25 <br>
            GPIO10&nbsp;&nbsp;<span class="label label-default"> 15 </span>&nbsp;<span class="label label-default"> 16 </span>&nbsp;&nbsp;&nbsp;GPIO8&nbsp;&nbsp; <br>
            GPIO09&nbsp;&nbsp;<span class="label label-default"> 19 </span>&nbsp;<span class="label label-default"> 18 </span>&nbsp;&nbsp;&nbsp;GPIO7&nbsp;&nbsp; <br>
            GPIO11&nbsp;&nbsp;<span class="label label-default"> 21 </span>&nbsp;<span class="label label-default"> 20 </span>&nbsp;&nbsp;&nbsp;GPIO12 <br>
            GPIO5&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-default"> 23 </span>&nbsp;<span class="label label-default"> 22 </span>&nbsp;&nbsp;&nbsp;GPIO16 <br>
            GPIO6&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-default"> 25 </span>&nbsp;<span class="label label-default"> 24 </span>&nbsp;&nbsp;&nbsp;GPIO20 <br>
            GPIO13&nbsp;&nbsp;<span class="label label-default"> 27 </span>&nbsp;<span class="label label-default"> 26 </span>&nbsp;&nbsp;&nbsp;GPIO21 <br>
            GPIO26&nbsp;&nbsp;<span class="label label-default"> 29 </span>&nbsp;<span class="label label-default"> 28 </span>&nbsp;&nbsp;&nbsp;GPIO2&nbsp;&nbsp; <br>
          </div>
            </center>
          </div>
        </div>

        <div class="col-sm-6">

            
            
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal11">
                sensor 1
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Sensor1</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal12">
                sensor 2
              </button>
            
             <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 2</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal13">
                sensor 3
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 3</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal14">
                sensor 4
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 4</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal15">
                sensor 5
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 5</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal16">
                sensor 6
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 6</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal17">
                sensor 7
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 7</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal18">
                sensor 8
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 7</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal19">
                sensor 9
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 9</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal20">
                sensor 10
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 10</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal21">
                sensor 11
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 11</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <!-- Button trigger modal -->
            <center>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal22">
                sensor 12
              </button>
            
              <p>Last time 10:12:2017</p>
            </center>


              <!-- Modal -->
              <div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">sensor 12</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>


        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="col-sm-4">
          <div class="well">
           <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- oto -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1772847216840979"
     data-ad-slot="9734966649"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
        </div>






  </body>
</html>
