<!doctype html>
<html> 
<head>


  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">

   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
  </head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102484268-3', 'auto');
  ga('send', 'pageview');

</script>

<body> 
 

<br>

<nav class="navbar navbar-inverse visible-xl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RPI-ONE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
     
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Control panel</a></li>
  
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-8" id="eski">
      <div class="well">
        <!-- Button trigger modal -->
<center><button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">
  New App
</button><br><p> Create a New Application </p></center>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New App</h4>
      </div>
      <div class="modal-body">
          

          <form class="form-horizontal" action="/uygulamalarim" method="POST">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">App Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="uyg_adi" placeholder="uygulamaya isim verin ">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Panel</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option>Raspberry pi</option>
                  <option>Arduino</option>
                  <option>Banana pi</option>
                  <option>Orange pi</option>
                  <option>PORT</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>






      </div>
      
    </div>
  </div>
</div>
          
        
        
      </div>
      <div class="row">
        
        
      </div>
      <div class="row">


<% rows.forEach(function(rows) { %>


        

        <div class="col-sm-13">

            
        <div class="col-sm-4">
          <div class="well">
            <h4><a href="/app/<%=rows.uyg_adi%>"><%=rows.uyg_adi%></a></h4>
            <strong>Connect Raspberry pi </strong><br><br>
                  <!-- Button trigger modal -->
                  
                    <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#myModal1">
                      Get code
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                          </div>
                          <div class="modal-body">


<pre>

import socket
import sys
import RPi.GPIO as GPIO
import time
import datetime
import sys
import Adafruit_DHT

sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)

server_address = ('app.kodizim.com', 9838)
print >>sys.stderr, 'connecting to %s port %s' % server_address
sock.connect(server_address)

sock.sendall("start")


while True:
    humidity, temperature = Adafruit_DHT.read_retry(11, 4)
    veri="<%=rows.hash_degeri%>"
    veriler = ("%s,%s,%d,%d"%(veri,str(datetime.datetime.now()),temperature,humidity))
 
    print(veriler)
    sock.sendall(veriler)

    time.sleep(5)


</pre>










                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
          </div>
        </div>



 </div>
       


     </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well" >
           
         <img src="public/resimler/deneme2.gif" width="850px">
       
          </div>
        </div>
    
      </div>

      
       <% }); %>

  

  


<script type="text/javascript">
  $(document).ready(function(){
    $("#yeniuygualamakismi").hide();

    $("#yeniuygualamabutton").click(function(){
        $("#yeniuygualamakismi").show();
        $("#eski").hide();
    });
    
});
</script>
  </div>
</div>












  </body>
</html>
